*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #FFF7ED;
  font-family: 'Inter', sans-serif;
  height: 100%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 44px 16px;
}

nav a{
  text-decoration: none;
  color: black;
}


.nav-logo{
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link a{
  padding-left: 15px;
  font-weight: 500;
}

.nav-link a:hover{
  text-decoration: underline;
  text-underline-offset: .5em;
}

.hero{
  background-image: url(src/assets/background-img-home.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  padding: 150px 0;
  max-width: 700px;
}

.hero h1{
  font-weight: 800;
  font-size:3rem;
  margin-bottom: 26px;
}

.hero p{
  margin-bottom: 52px;
  line-height: 30px;
  font-size: 1.2rem;
}

.hero button{
  background-color: #FF8C38;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Inter';
  border: none;
  border-radius: 6px;
}

.hero button:hover{
  background-color: #E08949;
  cursor: pointer;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  color: #AAA;
  padding: 26px;
}

.footer-icon{
  font-size: 1.3rem;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container{
  overflow: hidden;
  width: 910px;
}

.image-container img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content-container{
  margin: 50px 27px;
  width: 910px;
  overflow: hidden;
}

.content-text-first{
  margin: 31px 0;
}

.content-text-second{
  margin-bottom: 55px;
}

.cta-section{
  background-color: #FFCC8D;
  padding: 32px 37px;
  border-radius: 5px;
}

.cta-btn{
  margin-top: 25px;
}

.cta-btn button{
  padding: 12px 22px;
  color: #fff;
  font-size: .75rem;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  background-color: #161616;
  border: none;
  border-radius: 10px;
}

@media (max-width: 650px) {
  .hero{
    padding: 66px 26px;
  }

  .hero h1{
    font-size:2.25rem;
    margin-bottom: 26px;
  }
  
  .hero p{
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .container{
    padding: 150px 0;
    max-width: 560px;
  }

  .image-container{
    width: 100%;
  }
  .content-container{
    width: auto;
  }
  
}